<div class="card-footer">
  <% case resource.kind %>
  <% when 'youtube_video' %>
    <a href="https://youtu.be/<%= resource.video_id %>?t=<%= resource.start_time %>" class="btn btn-primary" target='_blank'>Watch</a>
  <% when 'article' %>
    <a href="<%= resource.url %>" class="btn btn-primary" target='_blank'>Read</a>
  <% when 'website' %>
    <a href="<%= resource.url %>" class="btn btn-primary" target='_blank'>Visit</a>
  <% end %>
</div>
