<div class="col-md-4 mb-5">
  <div class="card h-100">
    <%= render partial: 'resource-card-header', locals: { resource: resource } %>

    <div class="card-body">
    <h4 class="card-title"><%= resource.name %></h4>
    <div class="card-text">
      <%= resource.rich_description %>
    </div>
    </div>
    <%= render partial: 'resource-card-footer', locals: { resource: resource } %>
  </div>
</div>
