<% content_for :head do %>
<title>COVID-19 (Novel Coronavirus) Curated Resources</title>
<meta property="og:url" content="https://www.covid-updates.ca/" />
<meta property="og:title" content="COVID-19 Curated Science Based Videos and Articles (Novel Coronavirus)" />
<meta property="og:description"
  content="Get Informed. Save Lives. Resources to get you caught up on what is happening with COVID-19." />
<meta property="og:image" content="<%= image_url('resources_open_graph.png') %>" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=3276604539040033&autoLogAppEvents=1"></script>

<% if true %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Public Health Briefings</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Resources
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
      </ul>
    </div>
  </div>
</nav>
<% end %>

<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-4 mb-1">Recommended Resources</h1>
        <p class="lead mb-5 text-white-50">A curated list of videos and articles which are relevant. <br> <br> Note:
          These resources are not official governnment videos so please be sure to form your own opinion on the validity
          of the information.</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">


  <div class="row">



    <div class="col-md-12">
      <h2>Recommended Resources</h2>
      <p>
        This list will grow as new content is found.
      </p>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="embed-responsive embed-responsive-16by9 card-img-top">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mOV1aBVYKGA"
            allowfullscreen></iframe>
        </div>

        <div class="card-body">
          <h4 class="card-title">World Health Organization: Novel coronavirus (2019-nCoV)</h4>
          <p class="card-text">
            Basically the "what ,when, where, how" of what the World Health Organization knows about the novel coronavirus (nCoV).
          </p>
        </div>
        <div class="card-footer">
          <a href="https://youtu.be/mOV1aBVYKGA" class="btn btn-primary" target='_blank'>Watch</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="embed-responsive embed-responsive-16by9 card-img-top">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I5-dI74zxPg"
            allowfullscreen></iframe>
        </div>

        <div class="card-body">
          <h4 class="card-title">How To See Germs Spread</h4>
          <p class="card-text">
            Mark Rober (former NASA engineer) shares some science around how germs spread. Consider sharing this with
            anyone who doubts the science behind social distancing. Mark: "The road ahead will be a bit bumpy, but we
            totally got this fellow Earthlings :)"
          </p>
        </div>
        <div class="card-footer">
          <a href="https://youtu.be/I5-dI74zxPg" class="btn btn-primary" target='_blank'>Watch</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="embed-responsive embed-responsive-16by9 card-img-top">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/61-gFtHJOd8"
            allowfullscreen></iframe>
        </div>

        <div class="card-body">
          <h4 class="card-title">"Get prepared as soon as you can", says Italian doctor</h4>
          <p class="card-text">
            We are expecting a surge in the coming days and hope it will not reach the intensity of Lombardy... my
            suggestion is you get prepared as soon as you can
          </p>
        </div>
        <div class="card-footer">
          <a href="https://youtu.be/61-gFtHJOd8" class="btn btn-primary" target='_blank'>Watch</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="embed-responsive embed-responsive-16by9 card-img-top">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1APwq1df6Mw"
            allowfullscreen></iframe>
        </div>

        <div class="card-body">
          <h4 class="card-title">World Health Organization (WHO) - How to protect yourself against</h4>
          <p class="card-text">
            It is spread from person to person mainly through the droplets produced when an infected person speaks,
            coughs or sneezes. Watch this short animation to learn more about COVID-19 and how to protect yourself
            against it.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://youtu.be/1APwq1df6Mw" class="btn btn-primary" target='_blank'>Watch</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="<%= image_url('flatten_curve.png') %>" alt="Card image cap">

        <div class="card-body">
          <h4 class="card-title">Why outbreaks like coronavirus spread exponentially, and how to “flatten the curve”
          </h4>
          <p class="card-text">
            The early trickle of new coronavirus infections has turned into a steady current. By creating simple
            simulations, we can see how to slow it down.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://www.washingtonpost.com/graphics/2020/world/corona-simulator/" class="btn btn-primary"
            target='_blank'>Read</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="<%= image_url('korean_clusters.png') %>" alt="Card image cap">

        <div class="card-body">
          <h4 class="card-title">The Korean clusters</h4>
          <p class="card-text">
            How coronavirus cases exploded in South Korean churches and hospitals. A analysis of early spread of the
            virus in South Korean.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://graphics.reuters.com/CHINA-HEALTH-SOUTHKOREA-CLUSTERS/0100B5G33SB/index.html"
            class="btn btn-primary" target='_blank'>Read</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="<%= image_url('who_advice.png') %>" alt="Card image cap">

        <div class="card-body">
          <h4 class="card-title">World Health Organization: Advice for the public</h4>
          <p class="card-text">
            Tips from the World Health Organization on how to handle the coronavirus. Stay aware of the latest
            information on the COVID-19 outbreak, available on the WHO website and through your national and local
            public health authority.
          </p>
        </div>
        <div class="card-footer">
          <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
            class="btn btn-primary" target='_blank'>Read</a>
        </div>
      </div>
    </div>


  </div>
  <!-- /.row -->

  <% if false %>
  <div class="col-md-12">
    <h2>Want to Help?</h2>
    <p>
      Right now I'm building and maintaining this site as a free solo side project. Updates are limited to BC/Canada
      right now as I live in Vancouver, and only have time to update this content. However, It would be helpful to have
      someone from each province updating their content.

      <a href="https://twitter.com/messages/compose?recipient_id=3805104374" class="twitter-dm-button"
        data-screen-name="@jmatsuba">
        Message @jmatsuba</a>
    </p>
  </div>
  <% end %>

  <% if false %>
  <div class="col-md-12">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup {
                background: #fff;
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
              }

              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
              <form
                action="https://matsuba.us15.list-manage.com/subscribe/post?u=cf8c4bbf5fab55beb7426a6db&amp;id=e1ffcd1c60"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                  <div class="mc-field-group input-group">
                    <strong>Get Notifications For </strong>
                    <ul>
                      <li><input type="checkbox" value="2" name="group[12945][2]" id="mce-group[12945]-12945-0"><label
                          for="mce-group[12945]-12945-0">Gov of Canada</label></li>
                      <li><input type="checkbox" value="4" name="group[12945][4]" id="mce-group[12945]-12945-1"><label
                          for="mce-group[12945]-12945-1">Alberta</label></li>
                      <li><input type="checkbox" value="8" name="group[12945][8]" id="mce-group[12945]-12945-2"><label
                          for="mce-group[12945]-12945-2">British Columbia</label></li>
                      <li><input type="checkbox" value="16" name="group[12945][16]" id="mce-group[12945]-12945-3"><label
                          for="mce-group[12945]-12945-3">Ontario</label></li>
                    </ul>
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                      name="b_cf8c4bbf5fab55beb7426a6db_e1ffcd1c60" tabindex="-1" value=""></div>

                </div>

            </div>

            <!--End mc_embed_signup-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                class="button btn btn-primary"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <% end %>


  <h2>Discussion, Comments or Recommend New Resources</h2>
  <p>Resources will be reviewed and only ones that appear to be based on scientific facts and that are from credible
    sources will be added to the site. </p>
  <div id="disqus_thread"></div>
  <script>

    var disqus_config = function () {
      this.page.url = 'https://www.covid-updates.ca/resources';
      this.page.identifier = 'resources';
    };

    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://covidupdates.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>



  <% if false %>
  <div class="col-md-4">
    <p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Get Emailed When A New Video Is Posted
      </button>
    </p>
  </div>
  <% end %>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">We are in this together.</p>
    <p class="m-0 text-center text-white"><a href="mailto:feedback@covid-updates.ca">feedback@covid-updates.ca</a> </p>
    <p>
      <div class="fb-share-button" data-href="https://www.covid-updates.ca/" data-layout="button_count"
        data-size="large"><a target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.covid-updates.ca%2F&amp;src=sdkpreparse"
          class="fb-xfbml-parse-ignore">Share</a></div>
    </p>
  </div>
  <!-- /.container -->
</footer>



<script type="text/javascript">
  window._mfq = window._mfq || [];
  (function () {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.defer = true;
    mf.src = "//cdn.mouseflow.com/projects/a7a5fb50-d2c1-4edf-ba8c-d9596cd6dd83.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>
