<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Home</h1>
      <p><%= link_to "Categories", admin_categories_path, class: "btn-btn-primary" %>  </p>
      <p><%= link_to "Resources", admin_resources_path,  class: "btn-btn-primary" %> </p>
    </div>
  </div>

</div>
