// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// select {
//   margin-top: 11px;
//   position: relative;
//   align-items: flex-end;
//   display: inline-block;
//   cursor: pointer;
//   text-align: center;
//   text-decoration: none;
//   font-family: Arial, Helvetica, sans-serif;
//   border-radius: 3px;
//   border: none;
//   background: #f1f1f1;
//   padding: 2px;
// }
    
// select:hover {
//   background-color: dodgerblue;
// }